	<h2 style="padding-left:15px;color:#3A0B64;">Add Users</h2>
	<div class="col-lg-9 main-chart">            	
		<div ng-repeat="availableUsersDuo in availableUsersTwos" class="row mt">
                 <!-- SERVER STATUS PANELS -->
                 	<div ng-repeat="user in availableUsersDuo" class="col-xs-6 col-sm-6 mb">
                 		<div class="white-panel pn-small donut-chart" >                     			                      			
                 			<div class="row" style="margin-bottom:10px;padding:15px;position:relative;">
                 				<div class="col-sm-3 mb" style="vertical-align:middle;cursor: pointer;" ng-click="moveToUser(user.id)">
                 					<img  alt="user" class="img-circle" src="{{getUserPic(user.pic)}}" height="90px" width="90px">
                 				</div>                           												
								
								<!--  <div style="display:table-cell;color:black;width:85%;padding-left:10px;vertical-align:middle;">
									<div class="row" style="">-->
										<div class="col-sm-6 mb" style="font-size:14px;padding-top:10px;cursor: pointer;" ng-click="moveToUser(user.id)">
											<div style="text-align:left;color:rgb(198, 198, 198);">                  												  									  												  				
							  					<div>{{user.name}}</div>								  					
											</div>
					                  		<div style="text-align:left;color:#FF5722;font-size:14px;margin-top:5px;">                  												  									  												  				                    												  									  						
									  				<div style="" >
									  					<div>{{user.playedTracks[0].name}}</div>								  				
										  			</div>									  					
											</div>	
										</div>	
										<div class="col-sm-3 mb" style="font-size:14px;text-align:right;position:absolute;top:40%; right:5px;">
											<button style="margin-right:10px;background-color: #FF5722;width:80px;color:#fff;
													border:1px solid #FF5722;border-radius:2px;" ng-click="followUser(user.id)">Follow</button>
										</div>	
									<!--</div>
																						  									  			
			                  	</div>	-->	
							</div>
		                </div>
                 </div>
          </div>	
       </div>