	<h2 style="padding-left:15px;color:#3A0B64;">Settings</h2>
	<div class="col-lg-9 main-chart">            	
		<form class="form-horizontal" style="margin-top:5px;" action="musicHubController/userSettings/" enctype="multipart/form-data" method="POST">
           	
 			<label for="exampleInput" style="margin-bottom: 10px;">
 				<img ng-src="{{getUserPic()}}" class="img-circle" width="120px" height="120px">
 			</label> 
			<input type="file" id="exampleInput" name="userPic" style="display: none" />
			<div class="form-group row">
	  			<label for="example-text-input" class="control-label  col-sm-2">Username</label>
	  			<div class="col-sm-10">
	    			<input class="form-control" type="text" name="username"  ng-model="settings.user.name">
	  			</div>
			</div>
			<div class="form-group">
	    		<label class="control-label col-sm-2" for="pwd">Password:</label>
	    		<div class="col-sm-10"> 
	      			<input type="password" class="form-control" name="password" id="pwd" placeholder="Enter password">
	    		</div>
	  		</div>
	  		<div class="form-group">
	    		<label class="control-label col-sm-2" for="pwd">Share Music:</label>
	    		<div class="col-sm-10"> 
	      			<input type="checkbox" checked ng-checked="settings.user.settings.sendData" name="sendData">
	    		</div>
	  		</div>	  		
	  				
			<div class="form-group">
			     <label class="control-label col-sm-2" for="modelValue">Search Radius (Km)</label>
			    <div class="col-sm-10"> 
			    	<span>0</span>
	      			<input id="modelValue" type="range" ng-model="settings.user.settings.radius" min="{{testOptions.min}}" 
	      			step="{{testOptions.step}}"  max="{{testOptions.max}}" style="display:inline;width:94.3%;" name="radius">
	      			<span>100</span>
	        		<!-- <input ng-model="model.first" class="form-control">	 -->
	    		</div>	    
			</div>	  
	       <div class="form-group">
			    <label class="control-label col-sm-2" for="exampleSelect1">Share With</label>
			    <div class="col-sm-10"> 
	      			<select class="form-control" ng-options="item as item.label for item in settings.shareWithOptions track by item.id" 
	      						ng-model="shareWithSelected" name="shareWith"> 	
	      			</select>
	    		</div>	    
			</div>			           
		  
<!-- 		  	<div class="form-group"> -->
<!-- 		    	<label for="exampleInputFile">File input</label> -->
<!-- 		    	<input type="file" class="form-control-file" id="exampleInputFile" aria-describedby="fileHelp"> -->
<!-- 		    	<small id="fileHelp" class="form-text text-muted">This is some placeholder block-level help text for the above input. It's a bit lighter and easily wraps to a new line.</small> -->
<!-- 		  	</div> -->
		  
		  <input type="hidden" value="{{settings.user.deviceId}}" name="deviceId">
		    <button type="submit" class="btn btn-primary" >Save</button>
		</form>
    </div>