 			<div class="" >{{showLoader()}}</div>
                        <div class="loader" ng-show="showLoader()"></div>
                        <div class="row mt">
                            <div class="col-xs-6 col-sm-6 mb">
                                <h2 style="padding-left:15px;color:#3A0B64;">{{pageTitle}}</h2>
                            </div>
                            <div class="col-xs-6 col-sm-6 mb" style="text-align: right;margin-top: 20px;padding-left: 202px;">
                                <select class="form-control" ng-model="tracksFilterSelected" ng-options="item as item.name for item in commons.tracksFilters track by item.val" 
                                        ng-change="sortTracks(item)" style="width:25%;background-color: #f2f2f2;"></select>
                            </div>
                        </div>
                        
 			<div class="col-lg-9 main-chart"> 
 			  <div  infinite-scroll-disabled='isBusy()' infinite-scroll="streamPaging()" infinite-scroll-distance="3"></div>           	
                            <div ng-repeat="(songReportDuoIdx,songReportDuo) in tracksService.songReports" class="row mt"> 
                                <div ng-repeat="(songReportIdx,songReport) in getSongReports(songReportDuoIdx)" 
                                     class="col-xs-6 col-sm-6 mb track-container" style="">
                                    <div class="white-panel pn donut-chart" >
                      			<div class="white-header">
                      				<div class="row">
                      					<div id="img-div"  class="col col-md-8 img-div" ng-click="moveToUser(songReport.userId)">                                                             
                                                                    <img  alt="user" class="img-circle" style="display:inline;float:left;"
                                                                                    src="{{getUserPic(songReport.userPic)}}" height="35px" width="35px">

                                                                    <div style="display:inline;float:left;margin-left:10px;" >
                                                                            <h5>{{songReport.userName}}</h5>								  				
                                                                    </div>		
                                                            </div>							  			
                                                            <div class="col-6 col-md-4" >
                                                                    <div style="text-align: right;"><h5>{{formatTime(songReport.timestamp)}}</h5></div>
                                                            </div>
                      				</div>		                     							
                      			</div>
                      			<div ng-include="video.getTemplate(songReport)" style="height:100%;"></div>
                                    </div><! --/grey-panel -->
	                      	
                                </div><!-- /col-md-4-->
		              </div>    
                        </div><!-- /row -->	
                 </div><!-- /col-lg-9 END SECTION MIDDLE -->   