 			<h2 style="padding-left:15px;color:#3A0B64;">Friends Playlist</h2>
 			<div class="col-lg-9 main-chart">            	
                      		<div class="white-panel pn donut-chart">
                      			<div class="white-header">
                      				<div class="row">
                      					<div id="img-div"  class="col col-md-8">                      					
							  				<img  alt="user" class="img-circle" style="display:inline;float:left;"
							  						src="{{getUserPic(curTrack.userPic)}}" height="35px" width="35px">
							  						
							  				<div style="display:inline;float:left;margin-left:10px;" >
							  					<h5>{{curTrack.userName}}</h5>								  				
								  			</div>		
							  			</div>							  			
							  			<div class="col-6 col-md-4" >
							  				<div style="text-align: right;"><h5>1d</h5></div>
							  			</div>
                      				</div>						  			
                      			</div>
                      			
                      			<div ng-style="{'background-image':'url({{curTrack.artist.pic}})'}" style="height:84%;color:#fff;">	                      			
									<div class="centered" style="position:absolute;top:47%;left:45%;">
										<img src="static/assets/img/Newtone/bigplaybtn.png" > 
									</div>
									<div class="" style="position:absolute;top:80%;left:4.5%;max-width:78%;">
										<span style="font-size:15px;">{{curTrack.name}}</span>
									</div>
									<div class="row bb" style="position:absolute;bottom:4px;left:24px;">
										<div class="col-md-4 col-sm-4" style="position:relative;">
											<i class="fa fa-eye" aria-hidden="true"></i>
											<span style="font-size:14px;">{{curTrack.count}}</span>
										</div>
										<div class="col-md-4 col-sm-4" style="position:relative;">
											<i class="fa fa-heart" aria-hidden="true"></i>
											<span style="font-size:14px;">{{curTrack.likes}}</span>
										</div>
										<div class="col-md-4 col-sm-4" style="position:relative;">
											<i class="fa fa-share" aria-hidden="true"></i>
										</div>
		                      		</div>									
                      			</div>
								
	                      	</div><! --/grey-panel -->
                      	
                 </div><!-- /col-lg-9 END SECTION MIDDLE -->   