<videogular vg-theme="config.theme" vg-player-ready="video.onPlayerReady($API, $index, songReportDuoIdx)"  vg-error="video.onError($event)"
			vg-update-state="video.onUpdateState($state, $index,songReport, songReportDuoIdx)" vg-complete="video.onComplete(songReportDuoIdx)">
	<vg-media vg-src="video.getSources(songReport.songId)"	vg-tracks="config.tracks" vg-youtube="rel=1;showinfo=1">
	</vg-media>
	<vg-controls vg-autohide="videogular.autoHide" vg-autohide-time="videogular.autoHideTime">
		<vg-play-pause-button></vg-play-pause-button>
		<vg-time-display>{{ currentTime | date:'mm:ss' }}</vg-time-display>
		<vg-scrub-bar>
			<vg-scrub-bar-current-time></vg-scrub-bar-current-time>
		</vg-scrub-bar>
		<vg-time-display>{{ timeLeft | date:'mm:ss' }}</vg-time-display>
		<vg-volume>
			<vg-mute-button></vg-mute-button>
			<vg-volume-bar></vg-volume-bar>
		</vg-volume>
		<vg-fullscreen-button></vg-fullscreen-button>
	</vg-controls>

</videogular>