/**
 * @license videogular v1.4.3 http://videogular.com
 * Two Fucking Developers http://twofuckingdevelopers.com
 * License: MIT
 */
@font-face {
  font-family: 'videogular';
  src: url("fonts/videogular.eot");
  src: url("fonts/videogular.eot?#iefix") format("embedded-opentype"), url("fonts/videogular.woff") format("woff"), url("fonts/videogular.ttf") format("truetype"), url("fonts/videogular.svg#videogular") format("svg");
  font-weight: normal;
  font-style: normal; }
videogular, [videogular] {
  width: 100%;
  height: 100%;
  position: relative;
  background-color: #000000;
  display: block;
  flex-direction: column;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: moz-none;
  -ms-user-select: none;
  user-select: none;
  /*****************/
  /* Poster plugin */
  /*****************/
  /**********************/
  /* OverlayPlay plugin */
  /**********************/
  /*********************/
  /* Controlbar plugin */
  /*********************/
  /* IE10 hack */
  /* Controlbar icons */
  /********************/
  /* Buffering plugin */
  /********************/
  /* Loading Spinner
   * http://www.alessioatzeni.com/blog/css3-loading-animation-loop/
   */
  /**********************/
  /* IMA ads plugin */
  /**********************/ }
  videogular button, [videogular] button {
    cursor: pointer; }
  videogular.fullscreen, [videogular].fullscreen {
    position: fixed;
    left: 0;
    top: 0; }
  videogular vg-media, [videogular] vg-media {
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    display: block; }
    videogular vg-media video, [videogular] vg-media video {
      width: 100%;
      height: 100%;
      max-width: 100%;
      max-height: 100%; }
  videogular .iconButton, [videogular] .iconButton {
    color: #FFFFFF;
    font-family: 'videogular';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    background: none;
    padding: 6px;
    border: none; 
    }

    
  videogular .iconButton:focus, [videogular] .iconButton:focus {
    border: 1px solid white; }
  videogular vg-poster, [videogular] vg-poster {
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    display: block;
    z-index: 1;
    top: 0;
    pointer-events: none; }
  videogular vg-poster img, [videogular] vg-poster img {
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    position: absolute; }
  videogular vg-poster img.pause,
  videogular vg-poster img.play, [videogular] vg-poster img.pause,
  [videogular] vg-poster img.play {
    display: block; }
  videogular vg-poster img.stop, [videogular] vg-poster img.stop {
    display: block; }
  videogular vg-overlay-play, [videogular] vg-overlay-play {
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    z-index: 2;
    left:0;
    top: 0; }
  videogular vg-overlay-play .play:before, [videogular] vg-overlay-play .play:before {
    content: "\e000"; }
  videogular vg-overlay-play .overlayPlayContainer, [videogular] vg-overlay-play .overlayPlayContainer {
    font-size: 100px;
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    display: table;
    cursor: pointer;
    zoom: 1;
    filter: alpha(opacity=60);
    opacity: 0.6; }
  videogular vg-overlay-play .overlayPlayContainer div, [videogular] vg-overlay-play .overlayPlayContainer div {
    vertical-align: middle;
    text-align: center;
    display: table-cell; }
    
    
    videogular vg-overlay-track, [videogular] vg-overlay-track {
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    z-index: 2;
    left:0;
    top: 0; }
    
    videogular .overlay{
    	width: 100%;
    height: 52%;
    position: absolute;
    z-index: -1;
    top: 48%;
    left: 0;
    background: -webkit-linear-gradient(rgba(255,255,255,0.01),rgb(0,0,0)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(rgba(255,255,255,0.5),rgb(0,0,0)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(rgba(255,255,255,0.5),rgb(255,255,255,0.8)); /* For Firefox 3.6 to 15 */
    }
    
	videogular vg-overlay-track .play:before, [videogular] vg-overlay-play .play:before {
	    content: "\e000"; 
	    position: absolute;
	    top:28%;
	    left:40%;
	    font-size:80px;
	    color:#FF5722;
    }
    
  videogular vg-overlay-track .overlayTrackContainer, [videogular] vg-overlay-track .overlayTrackContainer {
  	color: #FFFFFF;
    
    width: 100%;
    height: 31%;
    max-width: 100%;
    max-height: 45%;
    bottom:0px;
    left:4.5%;
    position: absolute;
    cursor: pointer;
    zoom: 1; }
  videogular vg-overlay-track .overlayTrackContainer .name-div, [videogular] vg-overlay-track .overlayTrackContainer .name-div {
       font-size: 16px; 
       text-align: left;
  }
    
  videogular vg-overlay-track .overlayTrackContainer .user-div, [videogular] vg-overlay-track .overlayTrackContainer .user-div {
       font-size: 15px;
  }  
    
    
  videogular vg-controls, [videogular] vg-controls {
    width: 100%;
    height: 50px;
    display: block;
    position: absolute;
    z-index: 3;
    bottom: 0; }
  videogular vg-controls .controls-container, [videogular] vg-controls .controls-container {
    width: 100%;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    display: table;
    zoom: 1; }
  videogular vg-play-pause-button, [videogular] vg-play-pause-button {
    display: table-cell;
    width: 50px;
    vertical-align: middle;
    text-align: center;
    cursor: pointer; }
  videogular vg-time-display, [videogular] vg-time-display {
    color: #FFFFFF;
    display: table-cell;
    font-family: Arial;
    font-size: 13px;
    width: 75px;
    vertical-align: middle;
    text-align: center;
    cursor: default; }
  videogular .vgTimeDisplay, [videogular] .vgTimeDisplay {
    display: table-cell;
    font-family: Arial;
    font-size: 18px;
    width: auto; }
  videogular vg-scrub-bar, [videogular] vg-scrub-bar {
    width: auto;
    display: table-cell;
    cursor: pointer;
    vertical-align: middle;
    position: relative; }
    videogular vg-scrub-bar [role=slider], [videogular] vg-scrub-bar [role=slider] {
      margin-top: 24px;
      margin-bottom: 24px;
      height: 2px;
      background-color: black;
      position: relative; }
    videogular vg-scrub-bar .container, [videogular] vg-scrub-bar .container {
      position: absolute;
      width: 100%;
      height: 2px;
      top: 24px;
      padding-left: 0; }
    videogular vg-scrub-bar :focus vg-scrub-bar-current-time, [videogular] vg-scrub-bar :focus vg-scrub-bar-current-time {
      border-right: 6px black groove; }
  videogular vg-scrub-bar-current-time, [videogular] vg-scrub-bar-current-time {
    position: absolute;
    background-color: #FFFFFF;
    width: 100%;
    height: 100%;
    display: block;
    cursor: pointer; }
  videogular vg-scrub-bar-buffer, [videogular] vg-scrub-bar-buffer {
    position: absolute;
    background-color: #FFFFFF;
    width: 100%;
    height: 100%;
    display: block;
    cursor: pointer;
    zoom: 1;
    filter: alpha(opacity=50);
    opacity: 0.5; }
  videogular vg-scrub-bar-cue-points, [videogular] vg-scrub-bar-cue-points {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute; }
    videogular vg-scrub-bar-cue-points .cue-point-timeline, [videogular] vg-scrub-bar-cue-points .cue-point-timeline {
      color: #FFFFFF;
      padding-top: 3px; }
      videogular vg-scrub-bar-cue-points .cue-point-timeline .cue-point, [videogular] vg-scrub-bar-cue-points .cue-point-timeline .cue-point {
        position: absolute;
        height: 3px;
        background-color: #FFFFFF; }
  videogular vg-scrub-bar-thumbnails, [videogular] vg-scrub-bar-thumbnails {
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
    cursor: pointer;
    bottom: 24px;
    z-index: 1; }
    videogular vg-scrub-bar-thumbnails .vg-thumbnails, [videogular] vg-scrub-bar-thumbnails .vg-thumbnails {
      position: absolute;
      top: -20px;
      margin-top: -40px;
      width: 80px;
      height: 60px;
      overflow: hidden; }
      videogular vg-scrub-bar-thumbnails .vg-thumbnails .image-thumbnail, [videogular] vg-scrub-bar-thumbnails .vg-thumbnails .image-thumbnail {
        height: 60px;
        background-repeat: no-repeat; }
    videogular vg-scrub-bar-thumbnails .background, [videogular] vg-scrub-bar-thumbnails .background {
      width: 100%;
      height: 50px; }
  videogular vg-playback-button, [videogular] vg-playback-button {
    display: table-cell;
    width: 50px;
    vertical-align: middle;
    text-align: center;
    cursor: pointer; }
  videogular vg-volume, [videogular] vg-volume {
    display: table-cell;
    width: 50px;
    vertical-align: middle;
    text-align: center;
    cursor: pointer; }
  videogular vg-volume-bar, [videogular] vg-volume-bar {
    width: 50px;
    height: 100px;
    top: -100px;
    margin-left: -25px;
    vertical-align: middle;
    text-align: center;
    position: absolute;
    cursor: pointer; }
  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    videogular vg-volume-bar, [videogular] vg-volume-bar {
      zoom: 1;
      filter: alpha(opacity=50);
      opacity: 0.5; } }
  videogular vg-fullscreen-button, [videogular] vg-fullscreen-button {
    display: table-cell;
    width: 50px;
    vertical-align: middle;
    text-align: center;
    cursor: pointer; }
  videogular vg-volume-bar .verticalVolumeBar, [videogular] vg-volume-bar .verticalVolumeBar {
    width: 50px;
    height: 100px;
    background-color: #000000;
    position: absolute; }
  videogular vg-volume-bar .volumeBackground, [videogular] vg-volume-bar .volumeBackground {
    width: 20px;
    height: 70px;
    left: 15px;
    top: 15px;
    background-color: #222222;
    position: absolute; }
  videogular vg-volume-bar .volumeValue, [videogular] vg-volume-bar .volumeValue {
    width: 20px;
    height: 100%;
    background-color: #FFFFFF;
    position: absolute; }
  videogular vg-volume-bar .volumeClickArea, [videogular] vg-volume-bar .volumeClickArea {
    width: 20px;
    height: 100%;
    position: absolute; }
  videogular vg-controls .hide-animation, [videogular] vg-controls .hide-animation {
    animation: hideControlsAnimationFrames ease-out 0.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    /*when the spec is finished*/
    -webkit-animation: hideControlsAnimationFrames ease-out 0.5s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-fill-mode: forwards;
    /*Chrome 16+, Safari 4+*/
    -moz-animation: hideControlsAnimationFrames ease-out 0.5s;
    -moz-animation-iteration-count: 1;
    -moz-animation-fill-mode: forwards;
    /*FF 5+*/
    -o-animation: hideControlsAnimationFrames ease-out 0.5s;
    -o-animation-iteration-count: 1;
    -o-animation-fill-mode: forwards;
    /*Not implemented yet*/
    -ms-animation: hideControlsAnimationFrames ease-out 0.5s;
    -ms-animation-iteration-count: 1;
    -ms-animation-fill-mode: forwards;
    /*IE 10+*/ }
@keyframes hideControlsAnimationFrames {
  0% {
    opacity: 0.5; }
  100% {
    opacity: 0; } }
@-moz-keyframes hideControlsAnimationFrames {
  0% {
    opacity: 0.5; }
  100% {
    opacity: 0; } }
@-webkit-keyframes hideControlsAnimationFrames {
  0% {
    opacity: 0.5; }
  100% {
    opacity: 0; } }
@-o-keyframes hideControlsAnimationFrames {
  0% {
    opacity: 0.5; }
  100% {
    opacity: 0; } }
@-ms-keyframes hideControlsAnimationFrames {
  0% {
    opacity: 0.5; }
  100% {
    opacity: 0; } }
  videogular vg-controls .show-animation, [videogular] vg-controls .show-animation {
    animation: showControlsAnimationFrames ease-out 0.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    /*when the spec is finished*/
    -webkit-animation: showControlsAnimationFrames ease-out 0.5s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-fill-mode: forwards;
    /*Chrome 16+, Safari 4+*/
    -moz-animation: showControlsAnimationFrames ease-out 0.5s;
    -moz-animation-iteration-count: 1;
    -moz-animation-fill-mode: forwards;
    /*FF 5+*/
    -o-animation: showControlsAnimationFrames ease-out 0.5s;
    -o-animation-iteration-count: 1;
    -o-animation-fill-mode: forwards;
    /*Not implemented yet*/
    -ms-animation: showControlsAnimationFrames ease-out 0.5s;
    -ms-animation-iteration-count: 1;
    -ms-animation-fill-mode: forwards;
    /*IE 10+*/ }
@keyframes showControlsAnimationFrames {
  0% {
    background-color: transparent; }
  100% {
    background-color: rgba(0, 0, 0, 0.5); } }
@-moz-keyframes showControlsAnimationFrames {
  0% {
    background-color: transparent; }
  100% {
    background-color: rgba(0, 0, 0, 0.5); } }
@-webkit-keyframes showControlsAnimationFrames {
  0% {
    background-color: transparent; }
  100% {
    background-color: rgba(0, 0, 0, 0.5); } }
@-o-keyframes showControlsAnimationFrames {
  0% {
    background-color: transparent; }
  100% {
    background-color: rgba(0, 0, 0, 0.5); } }
@-ms-keyframes showControlsAnimationFrames {
  0% {
    background-color: transparent; }
  100% {
    background-color: rgba(0, 0, 0, 0.5); } }
  videogular vg-play-pause-button .play:before, [videogular] vg-play-pause-button .play:before {
    content: "\e000"; }
  videogular vg-play-pause-button .pause:before, [videogular] vg-play-pause-button .pause:before {
    content: "\e001"; }
  videogular vg-mute-button, [videogular] vg-mute-button {
    width: 50px;
    display: block; }
  videogular vg-mute-button .level3:before, [videogular] vg-mute-button .level3:before {
    content: "\e002"; }
  videogular vg-mute-button .level2:before, [videogular] vg-mute-button .level2:before {
    content: "\e003"; }
  videogular vg-mute-button .level1:before, [videogular] vg-mute-button .level1:before {
    content: "\e004"; }
  videogular vg-mute-button .level0:before, [videogular] vg-mute-button .level0:before {
    content: "\e005"; }
  videogular vg-mute-button .mute:before, [videogular] vg-mute-button .mute:before {
    content: "\e006"; }
  videogular vg-fullscreen-button .enter:before, [videogular] vg-fullscreen-button .enter:before {
    content: "\e007"; }
  videogular vg-fullscreen-button .exit:before, [videogular] vg-fullscreen-button .exit:before {
    content: "\e008"; }
  videogular vg-buffering, [videogular] vg-buffering {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 4;
    top: 0; }
  videogular vg-buffering .bufferingContainer, [videogular] vg-buffering .bufferingContainer {
    width: 100%;
    position: absolute;
    cursor: pointer;
    top: 50%;
    margin-top: -50px;
    zoom: 1;
    filter: alpha(opacity=60);
    opacity: 0.6; }
  videogular vg-buffering .loadingSpinner, [videogular] vg-buffering .loadingSpinner {
    background-color: transparent;
    border: 5px solid white;
    opacity: .9;
    border-top: 5px solid transparent;
    border-left: 5px solid transparent;
    border-radius: 50px;
    box-shadow: 0 0 35px #FFFFFF;
    width: 50px;
    height: 50px;
    margin: 0 auto;
    -moz-animation: spin .5s infinite linear;
    -webkit-animation: spin .5s infinite linear; }
  videogular vg-buffering .loadingSpinner .stop, [videogular] vg-buffering .loadingSpinner .stop {
    -webkit-animation-play-state: paused;
    -moz-animation-play-state: paused; }
@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg); }
  100% {
    -moz-transform: rotate(360deg); } }
@-moz-keyframes spinoff {
  0% {
    -moz-transform: rotate(0deg); }
  100% {
    -moz-transform: rotate(-360deg); } }
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg); } }
@-webkit-keyframes spinoff {
  0% {
    -webkit-transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(-360deg); } }
  videogular vg-ima-ads, [videogular] vg-ima-ads {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 5;
    top: 0;
    display: none; }

/*# sourceMappingURL=videogular.css.map */